<!doctype html>
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
<p>hi loser</p>
	<table border="1">
		<thead class="tablehead">
	
		{%for c in col_list%}
		<th>{{c}}</th>
		{%endfor%}
		</thead>

		<tbody class="tablebody">
		
		<tr>{%for row in val_list%}</tr>
			{%for v in row%}
		<td>{{(v)}}</td>
			{%endfor%}
		{%endfor%}
		
		</tbody>
	</table>
</body>
</html>







