{% include 'parent.html' %}

<p class="sitenav">
<p class="prodname">{{product_dict["ProductName"]}}</p>
<br><br><br><p class="prodpicture">This is the product picture:</p><br><br><br>
This is the product colour:        {{product_dict["ProductColour"]}}
<br><br><br>
<p>This is the product price:        {{product_dict["ProductPrice"]}}.00$</p>
<br><br><br>
Delivered by:        {{product_dict["ManufacturerName"]}}
<br><br><br>
Year:       {{product_dict["ModelYear"]}}
<br><br><br>
Specifications:        {{product_dict["ProductSpecs"]}}
<br><br><br>


<!-- <img src="https://upload.wikimedia.org/wikipedia/commons/e/e4/AVANT-P870DMG-GAMING-LAPTOP.png"> --> </p>
