html {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

body {
  background-color: #FBFBFB;
}
table {
  background-color: white;
  color: black
  border-radius: 15px;
}

.tablehead {
  background-color: blue;
  color: white;
}

.tablebody {
  
}


