body {  background-image: url("https://image.freepik.com/free-vector/appliances-design-white-background-vector-illustration_24908-48817.jpg") no repeat;  height: 450px;  width: 600px;  }.lister {
  margin: 1;
  padding: 0;
  font-size: 55px;
  color: maroon; 
}
